{% extends 'base.html' %}

{% block title %}Ver facturas{% endblock %}

{% block content %}
    
    <div class="nuevo_registro blue-color">
    <div class="entrada">
        <div class="form-datos">
            <div class="container">
                <div class="heading">
                    <h1>Nueva factura</h1>
                </div>
                
                <form class="site-form" method="post" action="{% url 'ventas:facturas' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn blue-color">Agregar</button>
                </form>

            </div>
        </div>
    </div>
    </div>

    <div class="tablero">
    <div class="manejo-datos">
        <div class="izq">
            <div class="input-decorado">
                <form method="get">
                    {{ form_busqueda }}
                    <button type="submit" class="btn blue-color">Buscar</button>
                </form>
            </div>
        </div>
        <div class="der">
            <div class="select-input-decorado">
                <select id="ordenarSelect" onchange="ordenarTabla()">
                    <option >Ordenar por</option>
                    <option value="normal">Normal</option>
                    <option value="maestro">Maestro</option>
                    <option value="fecha">Fecha factura</option>
                </select>
            </div>
        </div>
    </div>
    <div class="tabla-datos">
        <div class="container">
            <h2>Listado de clientes <small id="filter-table">orden: {{ campo_orden }}</small></h2>
            <ul class="responsive-table">
                <li class="table-header blue-header">
                    <div class="col col-3">Maestro</div>
                    <div class="col col-4">Detalle</div>
                    <div class="col col-2">Fecha</div>
                    <div class="col col-1">Acciones</div>
                </li>
                {% for dato in datos %}
                    <li class="table-row">
                        <div class="col col-3" data-label="Maestro">{{ dato.maestro }}</div>
                        <div class="col col-4" data-label="Detalle">{{ dato.detalle }}</div>
                        <div class="col col-2" data-label="Fecha">{{ dato.fecha }}</div>
                        <div class="col col-1" data-label="Actions">
                            <a href="{% url 'ventas:editar_factura' dato.id %}" class="btn-editar"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'ventas:borrar_factura' dato.id %}" class="btn-borrar" onclick="return confirm('¿Estás seguro de que deseas borrar esta factura?')"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>

    <script>
        function ordenarTabla() {
            var selectBox = document.getElementById("ordenarSelect");
            var selectedValue = selectBox.value;  // Usar value en lugar de text

            // Redirigir a la misma página con el parámetro de orden
            var enlace = "{% url 'ventas:facturas' %}?orden=" + selectedValue;
            window.location.href = enlace;
        }
    </script>

{% endblock %}